stages:
  - test

test-backend:
  stage: test
  tags:
    - SH-Drug-Mgmt
  before_script:
    - pwd
    - ls
    - cd backend
    - python -m pip install -r requirements.txt
    - python -m pip install pytest pytest-flask pytest-mock
  script:
    - $env:PYTHONPATH = ".;$env:PYTHONPATH"
    - python -m pytest --tb=short -v

test-frontend:
  stage: test
  tags:
    - SH-Drug-Mgmt
  before_script:
    - pwd
    - ls
    - cd frontend
    - npm install
  script:
    - npm run test:run